<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
<?php
    echo $this->headTitle('Apigility OAuth2 Doctrine Skeleton');
    echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0');
    echo $this->headLink(array('rel' => 'icon', 'type' => 'image/png', 'href' => $this->basePath('/img/favicon.png')))
        ->prependStylesheet($this->basePath('/css/style.css'))
        ->prependStylesheet($this->basePath('/bower_components/bootstrap/dist/css/bootstrap.min.css'));
    echo $this->headScript()
        ->prependFile($this->basePath('/bower_components/bootstrap/dist/js/bootstrap.min.js'))
        ->prependFile($this->basePath('/bower_components/jquery/dist/jquery.min.js'));
?>
    </head>
    <body>
        <header class="navbar navbar-inverse primary" role="navigation">
            <a class="sr-only" href="#content"> … </a>
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="<?php echo $this->url('home') ?>" class="navbar-brand">
                        Apigility OAuth2 Doctrine Skeleton
                    </a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".ag-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse ag-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <?php
                        if ($this->zfcUserIdentity()) {
                        ?>
                        <li><a href="<?= $this->url('zfcuser/logout'); ?>">Sign Out</a></li>
                        <?php
                        }
                        ?>
                    <?php
                    if ($this->isAllowed('administration', 'access')) {
                    ?>
                        <?php if (class_exists('ZF\Apigility\Admin\Module', false)): ?>
                            <li><a href="<?php echo $this->url('zf-apigility/ui') ?>">User Administration</a></li>
                        <?php endif; ?>
                    <?php
                    }
                    ?>
                    </ul>
                </div>
            </div>
        </header>

        <div class="container">
            <?php echo $this->content; ?>
        </div> <!-- /container -->

        <footer>
            <hr>
            <div class="container center-block">
                <p>&copy; <?php echo date('Y') ?> by <a href="http://github.com/TomHAnderson">Tom Anderson</a> Ltd. <?php echo $this->translate('All rights reserved.') ?></p>
            </div>
        </footer>
        <?php echo $this->inlineScript() ?>
    </body>
</html>
